<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>14D136</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>ForkLetStarter</string>
	<key>CFBundleIconFile</key>
	<string>ForkLetStarter</string>
	<key>CFBundleIdentifier</key>
	<string>com.binarynights.ForkLetStarter</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.6.5</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>678</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>6D2105</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>13F34</string>
	<key>DTSDKName</key>
	<string>macosx10.9</string>
	<key>DTXcode</key>
	<string>0632</string>
	<key>DTXcodeBuild</key>
	<string>6D2105</string>
	<key>ForkLiftPath</key>
	<string>/Applications/ForkLift.app</string>
	<key>ForkletSettings</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGgoNYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoK8QGwcIIyQlJicoKSorLC0uL1NUVVtcY0VoeXp7gVUkbnVsbNMJCgsMFyJXTlMu
	a2V5c1pOUy5vYmplY3RzViRjbGFzc6oNDg8QERITFBUWgAKAA4AEgAWABoAHgAiACYAK
	gAuqGBkaGxsYHh8YG4AMgA2ADoAVgBWADIAWgBqADIAVgBNYQWRkSXRlbXNaVGltZU9m
	ZnNldF5Tb3VyY2VGYXZvcml0ZV1TeW5jSW52aXNpYmxlW0RlbGV0ZUl0ZW1zW1N5bmNG
	b2xkZXJzXlRhcmdldEZhdm9yaXRlWlVwZGF0ZU1vZGVbVXBkYXRlSXRlbXNfEBNEZXRl
	cm1pbmVUaW1lT2Zmc2V0CRAA3xATMDEyMzQ1Njc4OTo7PD0+PwtAQUJDQ0VDR0hDLkpD
	Q0MuQ0NQQ0NUdXVpZF1sZWZ0RmF2b3JpdGVzWXZvbHVtZVVSTFthc2tQYXNzd29yZFdi
	YXNlVXJsWHVzZXJEYXRhVHBhdGhUaG9zdFR0eXBlXnN0cmluZ0VuY29kaW5nXWtleUVx
	dWl2YWxlbnRZbG9jYWxQYXRoWHVzZXJuYW1lXxAVa2V5RXF1aXZhbGVudE1vZGlmaWVy
	U3VybF5yaWdodEZhdm9yaXRlc1RuYW1lVHBvcnSAD4AAgAAIgACAEYAQgAAQBYAAgACA
	AIAAgACAFIAAgABfECRCNzlCQjQ2Qy1FQUIzLTQ4MDAtODJBNC00NzMwMTUzMzUwRUNf
	EC4vVXNlcnMvWGlhL1hwcm9qZWN0cy9IYXJ2YXJkL1NvdXJjZS9zNjVzdHVkZW500wkK
	C1ZYIqFXgBKhGIAMgBNbcGFzc2l2ZU1vZGXSXV5fYFokY2xhc3NuYW1lWCRjbGFzc2Vz
	XxATTlNNdXRhYmxlRGljdGlvbmFyeaNfYWJcTlNEaWN0aW9uYXJ5WE5TT2JqZWN00l1e
	ZGVaQk5GYXZvcml0ZaJmYlpCTkZhdm9yaXRlCN8QEzAxMjM0NTY3ODk6Ozw9Pj8LQEFp
	Q0NFQ25vQy5KQ0NDLkNDUENDgBeAAIAACIAAgBmAGIAAgACAAIAAgACAAIAUgACAAF8Q
	JDcwMkZGMTZDLTNEMDMtNDQ4NC1BOEQ3LUM3NDI4QkM1ODk1RV8QPC9Vc2Vycy9YaWEv
	WHByb2plY3RzL0hhcnZhcmQvSGFydmFyZF9DUzY1X1N3aWZ0L1NvdXJjZV9Db2Rlc9MJ
	Cgt8fiKhV4ASoRiADIATEAJfEA9OU0tleWVkQXJjaGl2ZXLRhIVUcm9vdIABAAgAEQAa
	ACMALQAyADcAVQBbAGIAagB1AHwAhwCJAIsAjQCPAJEAkwCVAJcAmQCbAKYAqACqAKwA
	rgCwALIAtAC2ALgAugC8AMUA0ADfAO0A+QEFARQBHwErAUEBQgFEAW0BcgGAAYoBlgGe
	AacBrAGxAbYBxQHTAd0B5gH+AgICEQIWAhsCHQIfAiECIgIkAiYCKAIqAiwCLgIwAjIC
	NAI2AjgCOgI8AmMClAKbAp0CnwKhAqMCpQKxArYCwQLKAuAC5ALxAvoC/wMKAw0DGAMZ
	A0IDRANGA0gDSQNLA00DTwNRA1MDVQNXA1kDWwNdA18DYQOIA8cDzgPQA9ID1APWA9gD
	2gPsA+8D9AAAAAAAAAIBAAAAAAAAAIYAAAAAAAAAAAAAAAAAAAP2
	</data>
	<key>ForkletType</key>
	<string>Synclet</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.7</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>ForkLetStarter</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
