<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>14D136</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>ForkLetStarter</string>
	<key>CFBundleIconFile</key>
	<string>ForkLetStarter</string>
	<key>CFBundleIdentifier</key>
	<string>com.binarynights.ForkLetStarter</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.6.5</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>678</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>6D2105</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>13F34</string>
	<key>DTSDKName</key>
	<string>macosx10.9</string>
	<key>DTXcode</key>
	<string>0632</string>
	<key>DTXcodeBuild</key>
	<string>6D2105</string>
	<key>ForkLiftPath</key>
	<string>/Applications/ForkLift.app</string>
	<key>ForkletSettings</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGgoNYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoK8QGwcIIyQlJicoKSorLC0uL1NUVVtcY0VoeXp7gVUkbnVsbNMJCgsMFyJXTlMu
	a2V5c1pOUy5vYmplY3RzViRjbGFzc6oNDg8QERITFBUWgAKAA4AEgAWABoAHgAiACYAK
	gAuqGBkaGxgYHh8YG4AMgA2ADoAVgAyADIAWgBqADIAVgBNYQWRkSXRlbXNaVGltZU9m
	ZnNldF5Tb3VyY2VGYXZvcml0ZV1TeW5jSW52aXNpYmxlW0RlbGV0ZUl0ZW1zW1N5bmNG
	b2xkZXJzXlRhcmdldEZhdm9yaXRlWlVwZGF0ZU1vZGVbVXBkYXRlSXRlbXNfEBNEZXRl
	cm1pbmVUaW1lT2Zmc2V0CRAA3xATMDEyMzQ1Njc4OTo7PD0+PwtAQUJDQ0VDR0hDLkpD
	Q0MuQ0NQQ0NUdXVpZF1sZWZ0RmF2b3JpdGVzWXZvbHVtZVVSTFthc2tQYXNzd29yZFdi
	YXNlVXJsWHVzZXJEYXRhVHBhdGhUaG9zdFR0eXBlXnN0cmluZ0VuY29kaW5nXWtleUVx
	dWl2YWxlbnRZbG9jYWxQYXRoWHVzZXJuYW1lXxAVa2V5RXF1aXZhbGVudE1vZGlmaWVy
	U3VybF5yaWdodEZhdm9yaXRlc1RuYW1lVHBvcnSAD4AAgAAIgACAEYAQgAAQBYAAgACA
	AIAAgACAFIAAgABfECQyRjA5MDk0OS1BQTE5LTQxNzctOUQ4Qi1EMUU0MjFEQUQwRDNf
	EEEvVXNlcnMvUGVuZ3Vpbi9YUHJvamVjdC9IYXJ2YXJkL0hhcnZhcmRfQ1NDSV82NV9T
	b3VyY2UvczY1c3R1ZGVudNMJCgtWWCKhV4ASoRiADIATW3Bhc3NpdmVNb2Rl0l1eX2Ba
	JGNsYXNzbmFtZVgkY2xhc3Nlc18QE05TTXV0YWJsZURpY3Rpb25hcnmjX2FiXE5TRGlj
	dGlvbmFyeVhOU09iamVjdNJdXmRlWkJORmF2b3JpdGWiZmJaQk5GYXZvcml0ZQjfEBMw
	MTIzNDU2Nzg5Ojs8PT4/C0BBaUNDRUNub0MuSkNDQy5DQ1BDQ4AXgACAAAiAAIAZgBiA
	AIAAgACAAIAAgACAFIAAgABfECQ4MDFERUNGNC1BMTE4LTQ2QjctQjI0Ni00OTkwRkE4
	QTkyREVfEDwvVXNlcnMvUGVuZ3Vpbi9YUHJvamVjdC9IYXJ2YXJkL0hhcnZhcmRfQ1ND
	SV82NS9Tb3VyY2VfQ29kZXPTCQoLfH4ioVeAEqEYgAyAExACXxAPTlNLZXllZEFyY2hp
	dmVy0YSFVHJvb3SAAQAIABEAGgAjAC0AMgA3AFUAWwBiAGoAdQB8AIcAiQCLAI0AjwCR
	AJMAlQCXAJkAmwCmAKgAqgCsAK4AsACyALQAtgC4ALoAvADFANAA3wDtAPkBBQEUAR8B
	KwFBAUIBRAFtAXIBgAGKAZYBngGnAawBsQG2AcUB0wHdAeYB/gICAhECFgIbAh0CHwIh
	AiICJAImAigCKgIsAi4CMAIyAjQCNgI4AjoCPAJjAqcCrgKwArICtAK2ArgCxALJAtQC
	3QLzAvcDBAMNAxIDHQMgAysDLANVA1cDWQNbA1wDXgNgA2IDZANmA2gDagNsA24DcANy
	A3QDmwPaA+ED4wPlA+cD6QPrA+0D/wQCBAcAAAAAAAACAQAAAAAAAACGAAAAAAAAAAAA
	AAAAAAAECQ==
	</data>
	<key>ForkletType</key>
	<string>Synclet</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.7</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>ForkLetStarter</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
